.cases {
  margin-bottom: 151px;

  &--services {
    .cases__title {
      margin-bottom: 33px;
    }
  }

  @include _768 {
    margin-bottom: 65px;
  }
}

.cases__title {
  margin-bottom: 50px;

  @include _576 {
    text-align: center;
  }
}

.cases__select {
  display: none;
  float: none;
  white-space: normal;
  box-shadow: 0px 5px 14px #E4E4E4;
  background-color: #FFFFFF;
  border-radius: 106px;

  align-items: center;

  font-weight: 500;
  font-size: 18px;
  color: #616161;
  min-height: 61px;
  line-height: 60px;
  padding-left: 25px;

  @include _768 {
    display: flex;
    margin-bottom: 90px;
  }

  @include _576 {
    margin-bottom: 35px;
    line-height: 25px;
  }
}

.cases__select span {
  display: flex;
  align-items: flex-end;
}

.nice-select:after {
  height: 17px;
  margin-top: -12px;
  right: 27px;
  width: 17px;
}

.nice-select .list {
  max-height: none;
}