.hero {
  background-repeat: no-repeat;
  background-position: right 40% center;
  background-size: cover;

  max-height: 659px;

  @include _768 {
    background-image: none !important;
    background-color: $blue-900;
  }
}

.hero__inner {
  max-width: 650px;
  width: 100%;
  padding: 145px 0;

  @include _768 {
    padding: 93px 0;
  }
  @include _576 {
    padding: 40px 0 77px 0;
  }
}

.hero__title {
  font-family: $noto;
  color: $white;
  margin-bottom: 40px;

  @include _576 {
    font-size: 30px;
    text-align: center;
  }
}

.hero__title strong {
  color: $orange;
}

.hero__list {
  margin-bottom: 60px;
}

.hero__item {
  font-size: 18px;
  padding-left: 36px;
  color: $white;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 14px;
  }
  &:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -4px;
    width: 26px;
    height: 26px;
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.hero__buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 60px;

  @include _576 {
    justify-content: center;
  }
}

.hero__link {
  margin: 10px;
}

.hero__social {
  display: none !important;

  @include _768 {
    display: flex !important;
  }

  @include _576 {
    display: none !important;
  }
}
