.questions {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #f1f3f5;
  padding: 132px 0 130px 0;

  @include _768 {
    background-image: none !important;
    background-color: rgba(6, 20, 40, 0.9);
    padding: 63px 0 75px 0;
  }

  @include _576 {
    padding: 40px 0 57px 0;
  }
}

.questions__title {
  font-family: $noto;
  max-width: 840px;
  width: 100%;
  font-size: 36px;
  color: $white;
  margin: 0 auto;
  margin-bottom: 39px;
  text-align: center;
}

.questions__title strong {
  letter-spacing: 0.55px;
}

.questions__form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  @include _992 {
    display: grid;
    justify-items: start;
    grid-template-areas:
      "name btn"
      "phone p";
  }

  @include _576 {
    grid-template-areas: "name"
      "phone"
      "btn"
      "p";
  }
}

.questions__input {
  background-color: $white;
  border-radius: 2px;
  border: 1px solid transparent;
  color: rgba(57, 57, 57, 0.8);
  padding: 12px 13px;
  min-width: 260px;

  &:focus {
    outline: 1px solid $orange;
  }

  @include _992 {
    .consultation__input:nth-child(1) {
      order: 1;
    }

    .consultation__input:nth-child(2) {
      order: 3;
    }

    .consultation__input:nth-child(3) {
      order: 2;
    }

    .consultation__input:nth-child(4) {
      order: 4;
    }
  }

  @include _576 {
    .consultation__input:nth-child(1) {
      order: initial;
    }

    .consultation__input:nth-child(2) {
      order: initial;
    }
  }
}

.questions__button {
  min-width: 260px;
  min-height: 50px;

  &:focus {
    box-shadow: 0px 0px 0px 3px rgba($orange, 0.7);
  }

  &:hover {
    color: $white;
    background-color: #CD8A26;
    border: 1px solid rgba($orange, 0.9);
  }

  &:active {
    color: rgba($white, 0.5);
    box-shadow: inset 0px 4px 4px rgba($orange, 0.25);
  }
}

.questions__text {
  font-size: 14px;
  color: $white;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s color;

  @include _992 {
    text-align: left;
    max-width: 240px;
  }
}

.questions__text-link {
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s color;
  &:hover {
    color: #E29623;
  }
}