.advantages {
  @include adaptive-value('margin-bottom', 90, 40, 1);
}

.advantages__inner {
  background-color: $white;
  box-shadow: 0px -5px 52px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  padding: 60px 50px;

  transform: translateY(-40px);

  @include _1200 {
    transform: translateY(0px);
    margin: 0 -15px;
  }
}

.advantages__list {
  gap: calc($gap * 2);
}

.advantages__item {
  text-align: center;

  max-width: 240px;
  width: 100%;

  position: relative;

  &:not(:last-child) {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: calc(-1 * $gap);
      transform: translateY(-50%);
      width: 2px;
      height: 100px;
      background-image: url(../img/divider.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  @include _1200 {
    &::after {
      display: none;
    }
  }
}

.advantages__img {
  max-width: 62px;
  width: 100%;
  margin-bottom: 36px;
}
.advantages__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.advantages__descr {
  font-weight: 500;
  color: $blue-900;
}
