.breadcrumbs-section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  margin-bottom: 96px;

  &--review {
    margin-bottom: 100px;
  }

  &--team {
    margin-bottom: 115px;
  }
}

.breadcrumbs-section__inner {
  margin-left: 72px;
  padding: 51px 0 93px 0;
}

.breadcrumbs {
  font-size: 16px;
  color: rgba($white, 0.9);
  margin-bottom: 35px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  &--contacts {
    color: rgba(57, 57, 57, 0.8);
    margin-bottom: 47px;

    .breadcrumbs__link {
      color: rgba(57, 57, 57, 0.8);
    }

    .breadcrumbs__item {
      &:not(:last-child) {
        &:after {
          color: rgba(57, 57, 57, 0.8) !important;
        }
      }
    }
  }

  &--services {
    margin-bottom: 48px;
  }
}

.breadcrumbs__item {
  margin-right: 30px;
  position: relative;

  &:not(:last-child) {
    &:after {
      content: "/";
      color: rgba($white, 0.9);
      position: absolute;
      top: 50%;
      right: -20px;
      transform: translateY(-50%);
    }
  }

  &:last-child {
    .breadcrumbs__link {
    color: #FFA620;
    pointer-events: none;
    }
  }
}

.breadcrumbs__link {
  color: rgba(255, 255, 255, 0.9);

  &:focus {
    color: $orange;
  }
  &:hover {
    color: $orange;
  }
  &:active {
    color: $orange;
  }
}

// .breadcrumbs__link--active {}

.breadcrumbs-section__title {
  font-family: $noto;
  font-weight: 500;
  font-size: 45px;
  line-height: 1.4;
  color: #FFA620;
  margin-bottom: 17px;
  letter-spacing: 0.95px;
}

.breadcrumbs-section__descr {
  font-family: $roboto;
  font-weight: 500;
  font-size: 18px;
  color: rgba($white, 0.9);
}