.card {
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px -5px 52px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  padding: 63px 0;
  padding-left: 57px;
  padding-right: 56px;
  display: flex;
  flex-direction: column;
  position: relative;

  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;

  @include _576 {
    padding: 46px 0;
    padding-left: 35px;
    padding-right: 35px;
  }
}

.card__title {
  font-weight: 500;
  font-size: 26px;
  color: $orange;
  text-align: center;
  margin-bottom: 156px;
  position: relative;
  z-index: 5;

  @include _375 {
    font-size: 22px;
    margin-bottom: 96px;
  }
}

.card__list {
  flex: 1 1 auto;
}

.card__item {
  &:not(:last-child) {
    margin-bottom: 13px;
  }
}

.card__link {
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s color,
  cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.1s opacity;

  &:focus {
    color: $orange;
  }

  &:hover {
    color: $orange;
  }

  &:active {
    opacity: 0.7;
  }
}