.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: calc(100% - 174px);
}

.hero__inner {
  max-width: 650px;
  width: 100%;
  @include adaptive-value('padding-top', 145, 40, 1);
  @include adaptive-value('padding-bottom', 145, 30, 1);
}

.hero__title {
  color: $white;
  margin-bottom: 40px;
}

.hero__title span {
  color: $orange;
}

.hero__list {
  margin-bottom: 70px;
}

.hero__item {
  font-size: 18px;
  padding-left: 40px;
  color: $white;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 26px;
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.hero__buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 60px;
}

.hero__button {
  &:not(:last-child) {
    margin-right: 20px;
  }
  @include _576 {
    margin-bottom: 20px;
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
  @include _320 {
    &:not(:last-child) {
      margin-right: 0;
    }
  }
}