.questions {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #F1F3F5;
  padding: 130px 0;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

// .questions__inner {}

.questions__title {
  font-family: $noto;
  max-width: 840px;
  width: 100%;
  margin-bottom: 65px;
  color: $white;
}

.questions__form {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

.questions__form > * {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.questions__input {
  background-color: $white;
  border-radius: 4px;
  border: 1px solid transparent;
  color: rgba(57, 57, 57, 0.8);
  padding: 16px;
  max-width: 260px;
  width: 100%;
}

.questions__button {
   &:focus {
     box-shadow: 0px 0px 0px 3px rgba($black, 0.5);
   }

   &:hover {
     color: $white;
     background-color: transparent;
     border: 1px solid rgba($white, 0.9);
   }

   &:active {
     color: rgba($white, 0.5);
     box-shadow: inset 0px 4px 4px rgba($orange, 0.25);
   }
}

.questions__text {
  font-size: 14px;
  color: $white;
}