  .social {
    position: fixed;
    top: 49%;
    transform: translateY(-50%);
    left: 145px;
    z-index: 100;

    @media only screen and (max-width: 1700px) {
      left: 95px;
    }

    @media only screen and (max-width: 1600px) {
      left: 25px;
    }

    @media only screen and (max-width: 1440px) {
      left: 5px;
    }

    @media only screen and (max-width: 1279px) {
      display: none;
    }
  }

  .social__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @include _768 {
      margin-right: 20px;
    }
  }

  .social__link {
    background-color: $white;
    border-radius: 2px;
    padding: 13px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s background-color;

    &:focus {
      .social__icon {
        fill: $orange;
      }
    }

    &:hover {
      .social__icon {
        fill: $orange;
      }
    }

    &:active {
      .social__icon {
        fill: $orange;
      }
    }
  }

  .social__icon {
    width: 30px;
    height: 30px;
    fill: $blue-900;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s fill;
  }