.social {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 5rem;
  z-index: 100;

  @include _1600 {
    position: relative;
    top: 0;
    left: 0;
    transform: translateY(0);
    margin-top: 30px;
  }
}

.social__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @include _1600 {
   &:not(:last-child) {
     margin-right: 20px;
     margin-bottom: 0;
   }
  }
}

.social__link {
  background-color: $white;
  box-shadow: 0px 5px 14px #e4e4e4;
  border-radius: 2px;
  padding: 13px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s background-color;

  &:focus {
    background-color: $blue-900;
    .social__icon {
      fill: $white;
    }
  }
  &:hover {
    background-color: $blue-900;
    .social__icon {
      fill: $white;
    }
  }
  &:active {
    background-color: $blue-900;
    .social__icon {
      fill: $orange;
    }
  }
}

.social__icon {
  width: 30px;
  height: 30px;
  fill: $blue-900;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s fill;
}
