.seo {
  margin-top: 131px;
  margin-bottom: 143px;

  @include _768 {
    margin-top: 61px;
    margin-bottom: 71px;
  }
}

// .seo__inner {}

.seo__title {
  margin-bottom: 26px;
}

.seo__text {
  height: 96px;
  overflow: hidden;
  order: 0;
}

.seo__text.open {
  height: auto;
}

.seo__text p {
  font-family: $roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(57, 57, 57, 0.8);
}

.seo__btn {
  display: inline-block;
  font-family: $roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #1E24AA;
  transition: color 0.3s;

  &:focus {
    color: $orange;
  }
  &:hover {
    color: $orange;
  }
  &:active {
    color: $orange;
  }
}

