.reviews-list {
  margin-bottom: 144px;

  @include _768 {
    margin-bottom: 64px;
  }
}

.reviews-list__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  justify-items: center;
  column-gap: 20px;
  row-gap: 54px;
}

// .reviews-list__item {}

.reviews-list__img {
  max-width: 305px;
  margin-bottom: 15px;
}

.reviews-list__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.reviews-list__heading {
  font-family: $roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  color: #061428;
}