.subservices-situations {
  margin-bottom: 122px;
}

.subservices-situations__inner {
  position: relative;
}

.subservices-situations__title {
  margin-bottom: 59px;

  @include _576 {
    font-size: 30px;
  }
}

// .subservices-situations__slider {}

.subservices-situations__item {
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 5px 14px #E4E4E4;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  width: 414px;
  height: 217px;
  padding: 48px 37px;
  margin: 10px 0;

  // @include _992 {
  //   width: 314px !important;
  // }
}

.subservices-situations__text {
  margin-bottom: 10px;
}

.subservices-situations__text p {
  font-family: $roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  color: #061428;
}

.subservices-situations__text p strong {
  border-bottom: 1px solid #061428;
}

.subservices-situations__button {
  font-family: $roboto;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.4;
  color: #E29623;
  background-color: $white;
  border: 1px solid #E29623;
  border-radius: 2px;
  width: 138px;
  min-height: 43px;
  padding: 11px 20px;
  cursor: pointer;

  &:focus {
    color: $white;
    background-color: $orange;
  }

  &:hover {
    color: $white;
    background-color: $orange;
  }

  &:active {
    color: $white;
    background-color: $orange;
  }
}

.subservices-situations__prev,
.subservices-situations__next {
  width: 42px;
  height: 42px;
  position: absolute;
  top: 60%;
  z-index: 5;

  @include _1280 {
    margin-top: 50px;
  }
}

.subservices-situations__prev {
  left: -97px;

  @include _1440 {
    left: -57px;
  }

  @include _1440 {
    position: static;
    transform: translateY(-20%);
    margin-right: 15px;
    margin-top: 30px;
  }

  @include _768 {
    display: none;
  }
}

.subservices-situations__next {
  right: -97px;

  @include _1440 {
    right: -57px;
  }

  @include _1440 {
    position: static;
    transform: translateY(-20%);
    margin-top: 30px;
  }

  @include _768 {
    display: none;
  }
}

.subservices-situations__btn-icon {
  width: 42px;
  height: 42px;
}