.company {
  margin-bottom: 131px;

  @include _768 {
    margin-bottom: 65px;
  }
}

.company__inner {
  position: relative;
}

.company__img {
  max-width: 630px;
}

.company__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.company__btn {
  width: 42px;
  height: 42px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &--prev {
    right: -95px;
  }

  &--next {
    left: -95px;
  }

  @include _1440 {
    &--prev {
      right: -57px;
    }

    &--next {
      left: -57px;
    }
  }

  @include _1440 {
    position: static;
    transform: translateY(-20%);
    &--next {
      margin-right: 15px;
    }
  }

  @include _768 {
    display: none;
  }
}

.company__btn-icon {
  width: 42px;
  height: 42px;
  fill: $blue-900;
}

.company__pagination {
  display: none;
  text-align: center;
  margin-top: 20px;

  @include _768 {
    display: inline-block;
  }
}