// ================== COLORS ================== \\
$white: #fff;
$white-200: #fafafa;
$black: #000;
$orange: #e29623;
$grey: #393939;
$blue-900: #061428;
$blue-500: #2364c4;
// ================== COLORS ================== \\


// ================== FONTS =================== \\
$roboto: 'Roboto', Arial, sans-serif;
$noto: 'Noto Serif', Arial, serif;
$bitter: 'Bitter', Arial, serif;
// ================== FONTS =================== \\


// ================= OPTIONS ================== \\
$container: 1280px;
// ================= OPTIONS ================== \\