// ================== COLORS ================== \\
$white: #fff;
$black: #000;
$yellow: #ffb548;
$accent: #FF4A32;
// ================== COLORS ================== \\


// ================== FONTS =================== \\
$main: 'Roboto',Arial,sans-serif;
// ================== FONTS =================== \\


// ================= OPTIONS ================== \\
$container: 1180px;
// ================= OPTIONS ================== \\