// ============= FIX FOOTER ============= \\
html,
body {
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

// ============= ACCESSIBILITY ============= \\
.sr-only {
  position: absolute;
  display: block;
  margin: -1px 0 0 -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  outline: 0;
}

// ================ OPTIONS ==================== \\
body {
  font-family: $roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: $grey;
  background-color: $white-200;
}

// BURGER ACTIVE BODY SCROLL LOCK
body.lock {
  overflow: hidden;
}

// .container {
//   max-width: $container + 30px;
//   margin: 0 auto;
//   padding: 0 15px;
// }

.title {
  font-family: $bitter;
  font-weight: 500;
  color: $blue-900;
  @include adaptive-value("font-size", 38, 21, 1);
  @include line-clamp(38, 1.4, 3);
}

.button {
  color: $white;
  background-color: $orange;
  border: 1px solid transparent;
  border-radius: 2px;

  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 256px;
  width: 100%;
  min-height: 59px;

  cursor: pointer;
  transition: all 0.3s;

  &:focus {
    box-shadow: 0px 0px 0px 3px rgba($black, 0.5);
  }

  &:hover {
    color: $orange;
    background-color: transparent;
    border: 1px solid #E29623;
  }

  &:active {
    color: rgba($white, 0.5);
    box-shadow: inset 0px 4px 4px rgba($orange, 0.25);
  }

  &--clear {
    color: $white;
    background-color: transparent;
    border: 1px solid rgba($white, 0.9);

    &:focus {
      box-shadow: 0px 0px 0px 3px rgba($black, 0.5);
    }

    &:hover {
      color: $orange;
      background-color: transparent;
      border: 1px solid #E29623;
    }

    &:active {
      color: rgba($black, 0.5);
      box-shadow: inset 0px 4px 4px rgba($black, 0.25);
    }
  }
  @include _320 {
    max-width: 100%;
  }
}
